.pack {
	text-decoration: none;
	padding: 3%;
	@media (max-width: 600px) {
		padding: 10% !important;
	}
	.pack-image {
		//width: 25%;
		margin-bottom: 10px;
	}
	.pack-content {
		padding-left: 0;
		.pack-title {
			text-align: left;
			font-size: 1rem;
		}
		.pack-description {
			text-align: left;
			color: $gray-600;
		}
	}

	:hover {
		cursor: pointer;
	}
}
