#iubenda_policy {
	font-family: "Avenir LT Std Black", Avenir, Helvetica, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-align: left !important;
	padding: 10px;
	padding-left: 0px !important;
	h2 {
		text-align: left !important;
		font-variant: none !important;
		font-size: 1.5rem !important;
		padding-bottom: 10px !important;
	}
	h3 {
		font-size: 1.2rem !important;
		padding-bottom: 10px !important;
	}
	h4 {
		font-size: 1rem !important;
		padding-bottom: 10px !important;
	}
	p {
		font-size: 1rem !important;
	}
	.iub_content {
		padding-left: 0px !important;
	}
}

.wrap {
	font-size: 1rem !important;
}

#iubenda_policy .simple_pp>ul>li>ul .iconed
{
	padding-left: 0px !important;
	background-position-x: 100% !important;
}

#iubenda_policy.iubenda_embed_policy .iub_container>.iub_footer {
	display: none;
}
